body{
	background-image: url('images/boy.png');
	background-size: 1439px;
	padding-bottom: 18px;
}

.jumbotron {
	background-image: url('images/platform.jpg');
	background-position: 0px;
	background-repeat: no-repeat;
	background-size: 1111px;
	padding-bottom: 240px;
}

.card-header {
	background-color: maroon;
	color: white;
	font-family: 'Shadows Into Light', cursive;
	font-size: 32px;
}

.table {
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
}

.form-group {
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
}

